{{define "list of hyphae"}}List of pages{{end}}
{{define "title"}}{{template "list of hyphae"}}{{end}}
{{define "body"}}
<main class="main-width">
	<h1>{{template "list of hyphae"}}</h1>
	<p>{{block "x total" .HyphaCount}}{{.}} total.{{end}}</p>
	<ol>
		{{range .Entries}}
			<li>
				<a href="/hypha/{{.Name}}">{{beautifulName .Name}}</a>
				{{if .Ext}}<span class="media-type-badge">{{.Ext}}</span>{{end}}
				{{if .Metadata.Words}}<span class="media-type-badge">{{.Metadata.Words}} words</span>{{end}}
				{{if .Metadata.Updated}}<span class="media-type-badge">{{.Metadata.Updated.Format "2006-01-02 15:04"}}</span>{{end}}
			</li>
		{{end}}
	</ol>
</main>
{{end}}
